/*font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Princess Sofia', cursive;
font-family: 'Titillium Web', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;*/

header{
  width:100%;
  min-width: 540px;
  margin:0px;
  text-align:center;
  background-color: #121c59;
  background: linear-gradient(0deg, #333333, #121c59 20%);
  height: 100px;

}

/*Header CSS*/

#tabs{
  position: sticky;
  top: 0px;
  width : 100%;
   z-index: 99;
   min-width: 50em;
}

#list{
  /*min-width: 40%;
  margin: auto;*/
     background-color: #333333;
     min-height: 3em;
     margin-top:0;
     padding-top:10px;
     padding-left:5px;
     min-width: 33.44em;
     text-align: left;

}

.horizm{
  display: inline;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1.5em;
  padding: .1em;
  text-decoration: none;
}

.horizm a{
  text-decoration: inherit;
  color: inherit;
}

.account-dropdown:hover .dropdown{
  display: table-caption;
  width: inherit;
}

.account-dropdown:hover{
  background: linear-gradient(#333 0%, #333 36%, #bb2235 100%);
}

.dropdown{
  display: none;
  /* position: absolute; */
  position: relative;
  top: 12px;
  padding: 0;
  z-index: 10000000;
}

.dropdown > a{
  display: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

.account-dropdown{
  position: absolute;
  display: inline-block;
  text-align: center;
  background-color: #333;
  float: right;
  min-width: 85px;
  right: 0em;
  padding-bottom: 12px;
    z-index: 10000000;
}

/*
.dropdown a:hover{
  color: #DDDDFF;
}
*/

.active{
  background-color: crimson;
}

#content{
  background-color:#E0E0E0;
  margin-left:16px;
  margin-right:16px;
}

#content > p{
  margin:0;
  font-size: 24px;
}

body{
  margin:0;
}

.title{
  font-size: 40px;
  color: black;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.tab, .horizm{
  font-family: 'Anton', sans-serif;
  color: white;
}

.horizm a:hover{
  color: #DDDDFF;
}

main{
}

.postNotif{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #bb2235;
}

.formTable{
  border: 2px solid black;
}
.tableDataLeft{
  text-align: right;
}
.tableDataRight{
  text-align: left;
}
