.infoForm{
  text-align: center;
  padding: 2px;
}

.formLabel{
  font-family: 'Oswald', sans-serif;
  display: block;
  font-size: 20px;
  margin-left: 10px;
}

.flatLink{
  color: black;
  color: crimson;
  text-decoration: none;
}
