html {
  /* overflow: hidden; */
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  padding-bottom: 0px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
h3{
  /* width: 6px; */
  font-size: 11px;
}

.topnav .search-container button:hover {
  background: #ccc;
}
th,td{
  display: table-cell;
  padding: 2.8em;
}
td{
  font-weight: 400;
  color: black;
}
/* table{
  float: left;
} */
#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -999; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    /* height:100%; */
}

@keyframes openMemberTab {
  0%  {width:0px; display:inline;}
  100%  {width:250px;}
}

@keyframes closeMemberTab {
  0% {width:250px;}
  100%  {width:0px; display:none;}
}

#memberBox {
  width:250px;
  height:500px;
  position:absolute;
  display:none;
  overflow: hidden;
  right:0%;
  top:58px;
  background-color: #121c59;
  animation-duration: .3s;
  z-index: 99;
}

.memberBoxField {
  width: 200px;
  margin: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.tabSubmit {
  width: 200px;
  margin:25px;
}
