table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;

}

td,th {
border: 1px dashed #aaa;
text-align: center;
padding: 5px;
position: relative;
}
th{
  max-width: 7.5em;

}

tr:nth-child(even) {
background-color: #dddddd;
}

.officerPic{
  float:center;
  /*margin-right: -300px;*/
  border-radius: 20%;
}
