.formLabel{
  font-family: 'Oswald', sans-serif;
  display: block;
  text-align: right;
  font-size: 20px;
  margin-right: 10px;
	margin-bottom: 5px;
}
.formText .formTable > tr > td{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 18px;
	margin: 3px;
}
.formTitle{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 25px;
	margin: 0px;
	margin-top: 10px;
}
.formTable{
  border: 2px solid black;
  padding: 4px;
}
