.formLabel{
  font-family: 'Oswald', sans-serif;
  display: block;
  text-align: right;
  font-size: 20px;
  margin-right: 10px;
	margin-bottom: 5px;
}
.formTable > tbody > tr{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 18px;
	margin: 3px;
  text-align: right;
}
.formTitle{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 25px;
	margin: 0px;
	margin-top: 10px;
}
.formTable{
  border: 2px solid black;
  background-color: #DDD;
  margin-bottom: 10px;
}
.formContainer{
  background-color: #EEE;
  width: 25em;
  border: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.scoutingSubmit{
  border: none;
  background-color: #bb2235;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
.listTable{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  border: 2px solid black;
}
.statsTable > tbody > tr{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 24px;
	margin: 3px;
  text-align: right;
}
.statsTable{
  border: 2px solid black;
  background-color: #DDD;
  margin-bottom: 10px;
}
.tableEven{
  background-color: #EEE;
}
.tableOdd{
  background-color: #DDD;
}
.tableRow>td>a{
	text-decoration: none;
	color: inherit;
}
#entriesLink{
  text-transform: uppercase;

  color: navy;
  padding: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  /* border-bottom: 1px solid #000; */
  padding-bottom: 20px;
  text-decoration: none;
}
