.info{
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  padding: 25px;
  line-height: 32px ;
  word-wrap: break-word;
  font-size: 1.75em;
  margin: auto;
  display: block;
  text-align: center;
  /* margin-left: 100px; */
}
.sponsor_list{
  line-height: 48px;
  border: 2px dashed #000080;
  margin: auto;
  display: flex;
  justify-content: space-around;

}
.sponsor{
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin-left: 58px;
}
.first{
  margin-left: 0px;
}
